body{
    font-family: Source Sans Pro, Helvetica, sans-serif;
}

main{
    margin-left: 1em;
}

form textarea{
    font-family: Source Sans Pro, Helvetica, sans-serif;
    resize: none;
}

ul{
    list-style: none;
    padding: 0;
}

form ul li:not(:last-child) {
    padding-bottom: 0; /* Mantiene il padding-bottom a 0 */
}

ul li:not(:last-child){
    padding-bottom: 1em;
}

ul h4{
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    outline: none;
}

button:hover, a:hover{
    text-decoration: underline;
}

.site-header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.site-title{
    float: left;
    margin-left: 1em;
}

.nav-wrapper{
    align-items: center;
    float: right;
    display: flex;
    height: auto;
}

.nav-wrapper a, .nav-wrapper form {
    display: inline-block;
    margin-right: 10px;
}


.logout{
    color: red;
}

.blog_action_wrapper{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.blog_action_wrapper a,
.blog_action_wrapper button,
.user-profile-wrapper a, .user-profile-wrapper button{
    width: fit-content;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.user-wrapper a.delete-comment{
    padding-left: 1em;
    display: none;
    color: red;
}

.profile-image{
    width: 30px;
    height: auto;
}

.green-button, .red-button, .blue-button, .grey-button {
    width: auto;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.green-button {
    background-color: green;
}

.red-button {
    background-color: red;
}

.blue-button{
    background-color: royalblue;
}

.grey-button{
    background-color: grey;
}

.user-wrapper:hover .delete-comment{
    display: block;
}

.blog_info_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog_link{
    display: flex;
    align-items: center;
}

.blog_link p, .blog_link h4{
    margin-bottom: 0;
    margin-top: 1em;
}

.blog_info_wrapper a, .blog_link a, .user-wrapper a{
    color: royalblue;
}

.like_button img{
    width: 40px;
    height: auto;
}


/* COMMENT FORM */
.comment-form {
    margin-top: 20px;
    border-radius: 5px;
}

.comment-form textarea {
    box-sizing: border-box;
    width: 60%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.create-form textarea{
    width: 40%;
    height: 250px;

}

.icon_button_wrapper{
    display: flex;
    align-items: center;
    gap: 4px;
}

.icon_button_wrapper img{
    height: auto;
    width: 20px;
}

/*EDIT*/
.edit-wrapper{
    display: flex;
    flex-direction: column;
}
.edit-wrapper form{
    padding-bottom: 10px;
}

.user-profile-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-profile-wrapper p{
    margin-top: 1em;
    margin-bottom: 0;
}

.user-action-wrapper{
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/*RESPONSIVITY*/

@media (max-width: 600px) {
    .site-header{
        flex-direction: column;
        border-bottom: none ;
    }
    .nav-wrapper{
        margin-left: 1em;
        float: left;
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-wrapper a, .nav-wrapper form {
        margin-bottom: 10px;
    }
    .comment-form textarea, .create-form textarea{
        width: 90%;
    }
}