body{
    font-family: Source Sans Pro, Helvetica, sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.blog_action_wrapper{
    display: flex;
    flex-direction: column;
}

.user-wrapper{
    display: flex;
    align-items: center;
}

.profile-image{
    width: 30px;
    height: auto;
}

.green-button, .red-button {
    width: auto;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.green-button {
    background-color: green;
    color: white;
}

.red-button {
    background-color: red;
    color: white;
}

.delete-comment{
    padding-left: 1em;
    display: none;
    color: red;
}

.user-wrapper:hover .delete-comment{
    display: block;
}