{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyBlogMaker {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?v=1.0">
</head>
<body>
    <header>
        <h1>MyBlogMaker</h1>
        <nav>
            <ul>
                <li><a href="{% url 'blog_list' %}" class="blue-button"><div class="icon_button_wrapper">
                <img src={% static 'images/home_icon.png'%}>Home</div></a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' user.username %}" class="blue-button"><div class="icon_button_wrapper">
                    <img src={% static 'images/user_icon.png'%}>Profile</div></a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="red-button" type="submit"><div class="icon_button_wrapper">
                    <img src={% static 'images/logout_icon.png'%}>Logout</div></button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="green-button"><div class="icon_button_wrapper">
                    <img src={% static 'images/login_icon.png'%}>Login</div></a></li>
                    <li><a href="{% url 'signup' %}" class="green-button"><div class="icon_button_wrapper">
                    <img src={% static 'images/signup_icon.png'%}>Sign Up</div></a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Contenuto specifico della pagina -->
        {% endblock %}
    </main>
</body>
</html>
