{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ object.title }}</h1>
<div class="user-wrapper">
    <img src="{{ blog.author.profile_image.url }}" alt="{{ comment.author.username }}" class="profile-image">
    <a href="{% url 'profile' blog.author %}">{{ blog.author }}</a>
</div>
  <p>Description: {{ object.description }}</p>
  <p>Created at: {{ object.created_at }}</p>
    <p>Followers: {{ blog.followers.count }}</p>


{% if blog.author != user %}
    {% if user.is_authenticated%}
        <form action="{% url 'follow_blog' blog.pk %}" method="post">
            {% csrf_token %}
            {% if user in blog.followers.all %}
                <button type="submit" class="red-button">Unfollow</button>
            {% else %}
                <button type="submit" class="green-button">Follow</button>
            {% endif %}
        </form>
    {% else %}
        <p>You must be <a href="{% url 'login' %}">logged in</a> to follow this blog.</p>
    {% endif %}

{% else %}
    <div class="blog_action_wrapper">
    <a href="{% url 'post_create' object.pk %}" class="green-button">+ Add New Post</a>
    <form action="{% url 'delete_blog' blog.pk %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="red-button" onclick="return confirm('Are you sure you want to delete this blog?');">Delete Blog</button>
    </form>
    </div>
{% endif %}

  <h2>Posts</h2>
  <ul>
    {% for post in object.posts.all %}
      <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
    {% empty %}
        <p>This blog doesn't have any posts yet.</p>
    {% endfor %}
  </ul>
{% endblock %}
