{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ object.title }}</h1>
<div class="user-wrapper">
    <img src="{{ blog.author.profile_image.url }}" alt="{{ comment.author.username }}" class="profile-image">
    <a href="{% url 'profile' blog.author %}">{{ blog.author }}</a>
</div>
  <p>{{ object.description }}</p>
  <p>Created at: {{ object.created_at }}</p>
    <p>Followers: {{ blog.followers.count }}</p>

{% if user.is_authenticated and user == blog.author %}
    <a href="{% url 'delete_blog' blog.pk %}" onclick="return confirm('Are you sure you want to delete this blog?');">Delete Blog</a>
{% endif %}

{% if blog.author != user %}
    {% if user.is_authenticated%}
        <form action="{% url 'follow_blog' blog.pk %}" method="post">
            {% csrf_token %}
            {% if user in blog.followers.all %}
                <button type="submit" class="unfollow-button">Unfollow</button>
            {% else %}
                <button type="submit" class="follow-button">Follow</button>
            {% endif %}
        </form>
    {% else %}
        <p>You must be <a href="{% url 'login' %}">logged in</a> to follow this blog.</p>
    {% endif %}

{% else %}
  <a href="{% url 'post_create' object.pk %}">Add a new post</a>
{% endif %}

  <h2>Posts</h2>
  <ul>
    {% for post in object.posts.all %}
      <li><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
