{% extends "base_generic.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<h2>Edit Profile</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
</form>

{% if user.profile_image and user.profile_image != 'default.png' %}
    <form method="post" action="{% url 'remove_profile_image' user.username %}">
      {% csrf_token %}
      <button type="submit" class="red-button">Remove Profile Image</button>
    </form>
{% endif %}

{% endblock %}
