{% extends "base_generic.html" %}
{% load static %}

{% block title %}{{ user_profile.username }}'s Profile{% endblock %}

{% block content %}
<h2>{{ user_profile.username }}'s Profile</h2>
<img src="{{ user_profile.profile_image.url }}" alt="Profile Image" style="max-width: 200px;">
<p>Bio: {{ user_profile.bio }}</p>
<p>Email: {{ user_profile.email }}</p>
<h3> Blogs:</h3>
{% if blogs %}
    <ul>
        {% for blog in blogs %}
            <li>
                <div class="blog_info_wrapper">
                <a href="{% url 'blog_detail' blog.pk %}">{{ blog.title }}</a>
                <div>Description: {{ blog.description }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user == user_profile %}
        <a href="{% url 'blog_create' %}" class="green-button"><div class="icon_button_wrapper">
        <img src={% static 'images/write_icon.png'%}>Create Blog</div></a>
    {% else %}
        This user hasn't created any blog yet.
    {% endif %}


{% if user == user_profile %}
    <a href="{% url 'edit_profile' %}" class="grey-button"><div class="icon_button_wrapper">
        <img src={% static 'images/settings_icon.png'%}>Edit Profile</div></a>
{% endif %}
{% endblock %}
